@import url("https://fonts.googleapis.com/css?family=Quicksand");

body::-webkit-scrollbar {
  width: 0.5rem; /* Adjust the width as needed */
  background-color: transparent;
}

* {
  margin: 0;
  font-family: Quicksand, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  color: #333;
}

.navbar {
  backdrop-filter: blur(4px);
  margin-bottom: 10px;
}

.navbar a {
  margin-left: 10px;
  text-decoration: none;
}

.project-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.description {
  max-width: 300px;
}

.project_image img {
  border: 2px solid rgb(69, 69, 69);
  box-shadow: 10px 10px 5px #ccc;
  -moz-box-shadow: 10px 10px 5px #ccc;
  -webkit-box-shadow: 10px 10px 5px #ccc;
  -khtml-box-shadow: 10px 10px 5px #ccc;
}

.project-card:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.project-card {
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  flex-shrink: 1;
  width: 400;
}

.project_image {
  margin: 20px;
  box-shadow: 10px 10px 5px rgba(10, 10, 10, 0.4);
}

.left-side-box {
  padding-left: 50px;
  padding-top: 350px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
}

.left-side-box * {
  padding-top: 7px;
}

.two-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.projects {
  padding: 300px 60px 50px 50%;
  margin-bottom: 200px;
}

.skeleton {
  padding-top: -100px;
  width: 100%;
}
